
<form action="/tasks/add" method="POST">
  <div>
    <label for="title">Write a Title:</label>
    <input type="text" name="title" id="title" placeholder="title" />
  </div>
  <div>
    <label for="description">Write a description:</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button>Adds</button>
</form>